<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cybersecurity Courses – CodeVirus</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" href="/css/courses.css">
</head>
<body>
<!-- PAGE LOADER -->

<!-- HEADER -->
<%- include('includes/header') %>
<section class="hero">
    <div class="hero-left">
        <h1>EXPLORE OUR<br>CYBERSECURITY CURRICULUM</h1>
        <p>
            Master ethical hacking, SOC operations, digital forensics,
            and real-world cyber defense through guided learning paths.
        </p>
        <button class="primary-btn">VIEW ALL PATHS</button>
    </div>

    <div class="hero-right">
        <img src="https://cdn-icons-png.flaticon.com/512/924/924915.png" alt="Cybersecurity">
    </div>
</section>
<section class="paths">
    <h2>Beginner's Journey</h2>
    <div class="card-grid">
        <% for (let course of AllCourses) { %>
            <div class="card purple"
                 onclick="window.location.href='/home/<%= course._id %>'">
                <span class="level-tag beginner">Beginner</span>
                <h3><%= course.title %></h3>
                <p class="desc">
                    <%= course.description %>
                </p>
                <p class="price">₹<%= course.price %></p>
                
            </br>
                <button>START PATH</button>
            </div>
        <% } %>
    </div>
</section>
<!-- FOOTER -->
<%- include('includes/footer.ejs') %>
<script src="/js/course.js"></script>
</body>
</html>
